/* global elements */
body, h1, h2, time, p, nav, ul, ol, li, pre, blockquote {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Merriweather','Georgia',serif;
  font-weight: 400;
  font-size: 16px;
  font-kerning: normal;

  word-wrap: break-word;

  color: #41454A;
  background: #FFF;

  max-width: 700px;
  margin: 0 auto;
  padding: 30px;
}

h1, h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

a:link, a:visited, a:active, a:hover {
  color: #623ce4;
  text-decoration: none;
}

a:active, a:hover {
  text-decoration: underline;
}

nav li {
  display: inline;
  margin-left: 10px;
}

ol, ul {
  padding-left: 20px;
}

blockquote {
  border-left: 4px solid rgb(246, 248, 250);
  border-left: 4px solid #DEE0E3;
  padding: 0 20px;
  font-style: italic;
}

/* header elements */

header {
  position: relative;
}

header h1 a:link, header h1 a:visited {
  font-size: 0.7em;
  color: #41454A;
}

header nav {
  position: absolute;
  top: 6px;
  right: 0;
}

footer {
  border-top: 1px solid #DEE0E3;
  padding: 20px 10px;
}

/* footer elements */
footer a:active, footer a:hover {
  text-decoration: none;
}

footer nav {
  float: right;
}

#copyright {
  color: rgb(194, 198, 203);
  font-size: 0.7em;
  float: left;
}

#me {
  border: 1px solid #5F4B8B;
  border: 1px solid #623ce4;
  border-radius: 40px;

  height: 80px;
  width: 80px;
  display: block;
  margin: 30px auto; /* 25px;*/

  overflow: hidden;
  background: #FFF;
}

#me a:link, #me a:visited {
  border: 1px solid #FFF;
  border-radius: 40px;

  height: 78px;
  width: 78px;
  display: block;

  overflow: hidden;
  text-indent: -10px;
}

/* content elements */
#content {
  margin-top: 30px;
  line-height: 1.7em;
}

#content h1 {
  font-size: 2em;
}

#content h2 {
  font-size: 1.4em;
  margin-top: 30px;
}

#content h2 a:link, #content h2 a:visited {
  color: #41454A;
}

#content time {
  font-size: 1em;
  color: rgb(194, 198, 203);
  display: block;
}

#content p, #content div.highlight, #content ul, #content ol {
  margin-top: 20px;
}

#content .cite {
  font-size: 0.8em;
  font-style: italic;
  line-height: 1.2em;
  text-align: right;
  color: rgb(194, 198, 203);
  position: relative;
}

#content .cite img {
  margin-bottom: 5px;
  height: auto;
  width: 100%;
}

/* list of articles */
ol#posts {
  padding-left: 0;
  margin-top: 0;
  list-style: none;
}

#posts h2 {
  margin-top: 0;
}

#posts li {
  margin-top: 40px;
}

#posts li:first-child {
  margin-top: 0;
}

/* code, both inline and blocks */
code {
  font-family: "Source Code Pro";
  background: rgb(246, 248, 250);
  -webkit-font-smoothing: auto;
  padding: 0px 4px
}

p code {
  border: 1px solid rgba(0, 0, 0, 0.02); 
}

pre code {
  display: block;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 20px;
  line-height: 1.3em;
}
